.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data .table-header {
  display: flex;
  flex-direction: row;
}

.data .table-data {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.table-data .column {
  flex: auto;
}

.employee-id {
  flex: 1;
  align-content: start;
}

.first-name {
  flex: 2;
}

.last-name {
  flex: 2;
}

.email {
  flex: 3;
}

.gender {
  flex: 2;
}

.race {
  flex: 2;
}

.age {
  flex: 2;
}

.job-title {
  flex: 3;
}

.department {
  flex: 3;
}

